<ion-view view-title="List">
    <ion-content>
        <!-- content goes here -->
        <div class="list">
            <div class="item item-divider">
                Breakdown
            </div>
            <div class="item">
                <div google-chart chart="vm.myChartObject" style="width:100%;"></div>
            </div>
            <div class="item item-divider">
                By Genre
            </div>
            <div class="item">
                Favorite
                <span class="item-note">{{vm.genreStats.mostLiked}}</span>
            </div>
            <div class="item">
                Least Favorite
                <span class="item-note">{{vm.genreStats.mostDisliked}}</span>
            </div>
            <a class="item item-icon-right item-remove-animate" ng-click="vm.goToGenres()">
                More...
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <div class="item item-divider">
                By Year
            </div>
            <div class="item">
                Favorite
                <span class="item-note">{{vm.yearStats.mostLiked}}</span>
                <!-- <div google-chart chart="vm.yearCounts" style="height:1500px; width:100%;"></div> -->
            </div>
            <div class="item">
                Least Favorite
                <span class="item-note">{{vm.yearStats.mostDisliked}}</span>
                <!-- <div google-chart chart="vm.yearCounts" style="height:1500px; width:100%;"></div> -->
            </div>
            <a class="item item-icon-right item-remove-animate" ng-click="vm.goToYears()">
                More...
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
